// Color Palette Per Project

$clr-dark: hsl(0, 0%, 20%);
$clr-black: hsl(0, 0%, 0%);
$clr-green: hsl(159, 100%, 19%);
$clr-d-green: hsl(164, 31%, 17%);
$clr-l-green: #1acf5b;
$clr-gray: hsl(0, 0%, 46%);
$clr-light: hsl(0, 0%, 100%);
$clr-transparent: transparent;
$clr-purple: #b02897;
$clr-black: black;
$clr-d-white: #efefef;
$clr-d-blue: #0d72ea;

$font-family: "Poppins", sans-serif;

$break-sm: 500px;
$break-md: 768px;
$break-lg: 1080px;
$break-xl: 1920px;